
/.vs/Microservices-.NET/FileContentIndex
/.vs
/Play.Catalog/src/.vs
/Play.Catalog/src/Play.Catalog.Service/.vs
/Play.Catalog/src/Play.Catalog.Service/obj
/Play.Catalog/src/Play.Catalog.Service/bin
/.idea
/.vscode
/Play.Catalog/.vscode
